body {}
#papago {
    margin:0px auto; /* 가로크기가 화면보다 작은 블록 레이아웃을 가운데로 배치할때 */
    /* 좌우가 auto 값인 이유: pc ~ mobile 까지 사용자가 접속한 기기에 따라 좌우여백이 다르기 때문에 자동값 사용 */
    background-color:#79FF44;
    width:402px; height:100vh;
    padding:20px 15px;
    text-align:center;
    /* text-align : 적용하는 정렬대상은 inline 특징이 있어야함. */
    /* text-align : #papago를 가운데로 (X) #papago의 자식, 자손을 가운데정렬(O) */

}
#papago > * {margin-bottom:30px;}
/* #papago > *:nth-child(odd) {background-color:aqua;} */
#papago nav {
    text-align:left;
    display:inline-block;/* 내용(자식)만큼 크기인식 */
}
#papago nav a {
    display:block;/* 부모의 너비 100% 자동(기본값) */
    width:200px; /* 크기px 고정 시 위100%값은 사라짐 */
    margin-bottom:15px;/* 모든 a에 적용되는 여백  */
}
#papago nav a:nth-child(3) {margin-bottom:0px;}
#papago nav a:nth-child(even) {background-color: blue;}
#papago main {
    padding:10px 0px;
    /* display:inline-block; */
    width:58px;
    margin:30px auto;
}
#papago main > *:nth-child(odd) {background-color:aliceblue;}
#papago main > * {margin-bottom:20px;}
#papago main > a:nth-child(4) {margin-bottom:10px;}
#papago main h1 {}
#papago main h1 a {}
#papago main > a {display:block}
#papago > a {
    margin-bottom:0px;
    padding:20px 30px;
    background-color:#E897FF;
    border-radius:30px;
    display: inline-block;
}