body {}
header {}
main {}
main #contents {}
main #contents #pay {
    width:1100px;
    background-color:#eee;
    margin:50px auto 0;
}
main #contents #pay th {padding:15px}
main #contents #pay td {padding:20px}
main #contents #pay tr th:nth-child(1) ~ th,
main #contents #pay tr td:nth-child(1) ~ td {width:160px}
main #contents #pay span {
    font-size:0.75rem;
    color:#aaa;
    display:block;
}
main #contents #pay tr {}
main #contents #pay thead {
    border:2px solid black;
    border-left:0;
    border-right:0;
}
main #contents #pay thead tr {}
main #contents #pay thead tr:nth-child(2) {
    border-bottom:1px solid black;
}
main #contents #pay thead tr:nth-child(1) {
    border-bottom:2px dotted #ddd;
}
main #contents #pay thead tr th {}
main #contents #pay thead tr th img {
    width:60px;
}
main #contents #pay thead tr th span {}
main #contents #pay tbody {}
main #contents #pay tbody tr {
    border-top: 1px solid #ddd
}
main #contents #pay tbody tr th {}
main #contents #pay tbody tr td {
    text-align:center;
}
