table {margin-bottom:46px;}
#t1 {
    /* 테두리:선두께 선모양 선색상; */
    border:1px solid black;
    background-color:#eee;
}
#t1 tr {}
#t1 tr:nth-child(2) {
    background-color: aqua;
}
#t1 tr th {
    border-bottom:2px solid blue;
    padding:10px 0px 5px;/* 상/좌우/하 */
}
#t1 tr th:nth-child(1) {
    border-right:2px solid yellowgreen;
}
#t1 tr td {
    border:1px dotted red;
    padding:10px;
    /* 표의 여백은 열(td, th) 적용 */
}
/* --------------t2-------------- */
#t2 {
    width: 400px;
}
#t2 tbody {background-color: blueviolet;}
#t2 tr {
    background-color:violet;
}
#t2 body tr {
    background-color:yellow;
}
#t2 tr th:nth-child(1),
#t2 tr th:nth-child(2) {width:50px;}
/* 전체 테이블 크기가와 개별 열에 크기를 줬을때 */
#t2 tr th {
        border-right:2px solid yellow;
}
#t2 tr td {
    border:1px solid black;
}
/* 교보문고 도서재고 */
#kyobo {}
#kyobo h1 {}
#kyobo #book {
    background-color:#eee;
    width:700px;
    border-radius:20px;
}
/* 공통 열 선택자 */
#kyobo #book th,
#kyobo #book td {
    padding:15px 0;
}
#kyobo #book thead  {}
#kyobo #book thead tr {}
#kyobo #book thead tr th {}
/* 그릅 선택자 적용법 */
/* #kyobo #book thead tr th:nth-child(2) {width:80px;}
#kyobo #book thead tr th:nth-child(3) {width:80px;}
#kyobo #book thead tr th:nth-child(4) {width:80px;}
#kyobo #book thead tr th:nth-child(5) {width:80px;} */
/* 형제 선택자 적용법 */
#kyobo #book thead tr th:nth-child(1) ~ th {width:80px} /* (1) 기준으로 뒤 #1은 미포함# */
#kyobo #book tbody  {}
#kyobo #book tbody tr  {}
#kyobo #book tbody tr th {
    text-align:left;
    padding-left:15px;
}
#kyobo #book tbody tr:nth-child(2) {
    border:2px solid black;
}
#kyobo #book tbody tr td  {
    text-align:center;
}
/* --------------------2024년 지역별 매출 현황표 ----------------------------*/
#wrap {
    width:1620px;
    background-color:#f5f5f5;
    margin:0 auto;
    padding:50px 0; 
}
#wrap .top {
    background-color: #fff;
    width:750px;
    margin:0 auto;
}
#wrap .top h1 {}
#wrap .top p {}
#wrap #sales {
    background-color:#ddd;
    width:750px;
    margin:20px auto 0;
}   
#wrap #sales th,
#wrap #sales td {
    padding: 10px;
}
#wrap #sales thead {
    border:1px solid #000;
    border-left:0;
    border-right:0;
}
#wrap #sales thead tr {}
#wrap #sales thead tr th {}
#wrap #sales thead tr th:nth-child(1) ~ th {width:130px}

#wrap #sales tbody {}
#wrap #sales tbody tr {}
#wrap #sales tbody tr:nth-child(4) {
    background-color:#95CF8D;
}
#wrap #sales tbody tr th {}
#wrap #sales tbody tr td {
    text-align:center
}
/* -----------------------------요금제 표 ------------------------------------ */
#phone {}
#phone #pay {
    width:1100px
}
#phone #pay thead {
    border:2px solid black;
    border-left:0;
    border-right:0;
}
#phone #pay thead tr {}
#phone #pay thead tr:nth-child(1) {
    border-bottom:1px dotted black;
}
#phone #pay thead tr th {
    padding:20px 0;
}
#phone #pay thead tr th:nth-child(1) {
    border-left:0;
    border-right:0;
    
}
#phone #pay thead tr th img {
    width:36px;
}
#phone #pay thead tr:nth-child(2) {
    
}

#phone #pay thead tr th em {
    font-size:0.75rem; color:#888;
    display:block;
}